.place__title {
    color: white;
    font: 900 72px/76px 'inter' , 'Arial', 'sans-serif';
    margin: 0px;
    max-width: 460px;
    width: 100%;
}
  
  @media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font: 900 42px/46px 'inter' , 'Arial', 'sans-serif';
        letter-spacing: 0.8px;
    }
  }

  @media screen and (max-width: 650px) {
    .place__title {
        max-width: 200px;
        font: 900 35px/46px 'inter' , 'Arial', 'sans-serif';
    }
  }

  @media screen and (max-width: 500px) {
    .place__title {
        max-width: 150px;
        font: 900 21px/27px 'inter' , 'Arial', 'sans-serif';
    }
  }
  
  @media screen and (max-width: 425px) {
    .place__title {
      width: 100%;
      color: white;
      font: 900 32px/35px 'inter' , 'Arial', 'sans-serif';
      grid-row: 1/2;
      max-width: 288px;
      grid-column: 2/3;
      letter-spacing: 0.1px;  
    }
  }
  