.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 16px - 16px - 16px)/4));
    grid-template-rows: max-content;
    gap: 16px;
    padding-top: 92px;
    width: calc(100% - 96px);
}