.places {
  display: grid;
  padding-top: 92px;
  grid-template-rows: repeat(5, min-content);
  row-gap: 80px;
  grid-area: places;
  width: calc(100% - 296px);
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 90px;
    row-gap: 72px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding-top: 64px;
    width: 100%;
    row-gap: 50px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding-bottom: 66px;
  }
}