.place__image {
  max-width: 460px;
  grid-column: 1/2;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    min-width: 100%;
    grid-row: 3/4;
    grid-column: 1/4;
  }
}
