.place__image {
  max-width: 100%;
  grid-column: 1/2;
}

@media screen and (max-width: 1280px) {
  .place__image {
    max-width: 100%;
    grid-column: 1/2;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 100%;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 768px) {
  .place__image {
    max-width: 100%;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 425px) {
  .place__image {
    width: 100%;
    grid-row: 3/4;
    grid-column: 1/4;
  }
}
