.lead {
    display: grid;
    grid-template-rows: 56px min-content 32px min-content 64px min-content 8px 92px;
    justify-content: center;
    width: calc(100% - 296px);
    grid-area: lead;
}

@media screen and (max-width: 1280px) {
    .lead {
        display: grid;
        grid-template-rows: 56px min-content 32px min-content 64px min-content 8px 92px;
        justify-content: center;
        width: calc(100% - 296px);
        grid-area: lead;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .lead {
        display: grid;
        grid-template-rows: 56px min-content 32px min-content 64px min-content 8px 92px;
        justify-content: center;
        width: calc(100% - 96px);
        grid-area: lead;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead {
        display: grid;
        grid-template-rows: 56px min-content 32px min-content 64px min-content 8px 92px;
        justify-content: center;
        width: 100%;
        grid-area: lead;
    }
  }
  
  @media screen and (max-width: 425px) {
    .lead {
        display: grid;
        grid-template-rows: 56px min-content 32px min-content 64px min-content 8px 92px;
        justify-content: center;
        width: 100%;
        grid-area: lead;
    }
  }