.lead {
    display: grid;
    grid-template-rows: 56px min-content 32px min-content 64px min-content 8px min-content 92px;
    justify-content: center;
    width: calc(100% - 296px);
    grid-area: lead;
}
  
  @media screen and (max-width: 1024px) {
    .lead {
        grid-template-rows: 48px min-content 32px min-content 56px min-content 8px min-content 92px;
        width: calc(100% - 96px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead {
        grid-template-rows: 48px min-content 32px min-content 56px min-content 8px min-content 88px;
        width: 100%;
    }
  }
  
  @media screen and (max-width: 425px) {
    .lead {
        grid-template-rows: 48px min-content 16px min-content 40px min-content 8px min-content 64px;
    }
  }