.cover__subtitle {
  font-size: 32px;
  margin: 0;
  font: 400 18px/22px 'inter' , 'Arial', 'sans-serif';
  max-width: 360px;
  text-align: center;
}


@media screen and (max-width: 425px) {
  .cover__subtitle {
    font: 400 14px/16px 'inter' , 'Arial', 'sans-serif';
    max-width: 268px;
  }
}