.header__logo {
  grid-column: 1/2;
  grid-row: 2/2;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    grid-column: 1/2;
    grid-row: 2/2;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    grid-column: 1/2;
    grid-row: 2/2;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    grid-column: 1/2;
    grid-row: 2/2;
    width: 100%;
  }
}