.header {
  display: grid;
  grid-template-columns: 176px 1fr min-content;
  grid-template-rows: 28px min-content;
  width: calc(100% - 96px);
  grid-area: header;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
    min-width: 425px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    grid-template-columns: 142px 1fr min-content;
    grid-template-rows: 16px min-content;
    width: calc(100% - 32px);
    min-width: 250px;
  }
}

