.footer__link {
  color: white;
  font: 400 16px/18px "inter" , 'Arial', 'sans-serif';
  text-decoration: none;
  padding-left: 16px;
}

.footer__link:hover {
  opacity: 80%;
}

.footer__link:first-of-type {
  padding-left: 0px;
}

@media screen and (max-width: 700px) {
  .footer__link {
    font: 400 10px/18px "inter" , 'Arial', 'sans-serif';
  }
}

@media screen and (max-width: 425px) {
  .footer__link {
    font: 400 8px/18px "inter" , 'Arial', 'sans-serif';
    padding-left: 16px;
    padding-bottom: 32px;
  }
  .footer__link:last-of-type { 
    padding-bottom: 48px;
  }
  .footer__link:first-of-type {
    padding-left: 16px;
  }
  
}

@media screen and (max-width: 320px) {
  .footer__link {
    font: 400 24px/24px "inter" , 'Arial', 'sans-serif';
  }
  
}