.lead__title {
    color: white;
    font: 900 96px/100px 'inter' , 'Arial', 'sans-serif';
    margin: 0px;
    justify-self: center;
    text-align: center;
    max-width: 720px;
    grid-row-start: 2;
    grid-row-end: 2;
}

  @media screen and (max-width: 700px) {
    .lead__title {
        font: 900 58px/64px 'inter' , 'Arial', 'sans-serif';
    }
  }
  
  @media screen and (max-width: 425px) {
    .lead__title {
        font: 900 40px/44px 'inter' , 'Arial', 'sans-serif';
        max-width: 288px;
    }
  }