.footer__copyright {
  color: white;
  font: 400 14px/16px "inter";
  margin: 0px;
  position: absolute;
  right: 0px;
}


@media screen and (max-width: 425px) {
  .footer__copyright {
    padding-left: 16px;
    position: static;
  }
}