.cover__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  object-fit: cover;
  background-size: cover;
  height: 740px;
  text-decoration: none;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
}

.cover__img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.5;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
}


@media screen and (max-width: 1024px) {
  .cover__img {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__img {
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__img {
    height: 200px;
  }
}