.cover__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  background-size: 100%;
  text-decoration: none;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
}

.cover__img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  opacity: 0.5;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
}

.cover__img:hover:before {
  opacity: 0.8;
}

