.lead__subtitle {
    color: white;
    font: normal 30px/36px 'inter';
    font-weight: 400;
    margin: 0px;
    justify-self: center;
    text-align: center;
    width: calc(1280px - 640px);
    grid-row-start: 4;
    grid-row-end: 4;
}