.lead__subtitle {
  color: white;
  font: 400 normal 30px/36px "inter" , 'Arial', 'sans-serif';
  margin: 0px;
  justify-self: center;
  text-align: center;
  max-width: 640px;
  grid-row: 4/5;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font: 400 16px/20px "inter" , 'Arial', 'sans-serif';
    }
  }
