.cover {
    width: calc(100% - 96px);
    display: grid;
}

@media screen and (max-width: 1280px) {
    .cover {
        width: calc(100% - 96px);;
        display: grid;
    }
  }

  @media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        display: grid;
    }
  }

  @media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        display: grid;
    }
  }

  
  @media screen and (max-width: 425px) {
    .cover {
        width: 100%;
        display: grid;
    }
  }

