.cover {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
}

.cover {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
 .cover{
  padding: 0px;
 } 
}