.cover {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-template-rows: 1fr min-content 32px min-content 1fr;
  justify-items: center;
  width: calc(100% - 96px);
  padding-top: 92px;
}
