.paragraph {
    max-width: 484px;
    display: grid;
    row-gap: 26px;
    grid-template-rows: min-content;
}
  
  @media screen and (max-width: 768px) {
    .paragraph {
      row-gap: 25px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .paragraph {
      grid-row: 4/5;
      grid-column: 2/3;
    }
  }
  