@import url("../vendor/normalize.css");
/* font */
@import url("../fonts/Inter/inter.css");
@import url("../blocks/content/content.css");
/* pages */
@import url("../blocks/page/page.css");
@import url("../blocks/body/body.css");


/* hedaer */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__lang/header__lang.css");
@import url("../blocks/header/__lang-link/header__lang-link.css");
@import url("../blocks/header/__lang-link/_active/header__lang-link_active.css");
@import url("../blocks/header/__logo/header__logo.css");

/* lead */
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead/__caption/lead__caption.css");
@import url("../blocks/lead/__image/lead__image.css");
@import url("../blocks/lead/__subtitle/lead__subtitle.css");
@import url("../blocks/lead/__title/lead__title.css");
/* intro */
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__list/intro__list.css");
@import url("../blocks/intro/__text/intro__text.css");
@import url("../blocks/intro/__title/intro__title.css");
/* photo-grid */
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/__item/photo-grid__item.css");
/* places */
@import url("../blocks/places/places.css");
@import url("../blocks/place/place.css");
@import url("../blocks/place/__title/place__title.css");
@import url("../blocks/place/__image/place__image.css");
@import url("../blocks/website/website.css");
@import url("../blocks/website/__url-heading/website__url-heading.css");
@import url("../blocks/website/__link/website__link.css");
@import url("../blocks/paragraph/paragraph.css");
@import url("../blocks/paragraph/__text/paragraph__text.css");
/* cover */
@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/__img/cover__img.css");
@import url("../blocks/cover/__overlay/cover__overlay.css");
@import url("../blocks/cover/__subtitle/cover__subtitle.css");
@import url("../blocks/cover/__title/cover__title.css");
@import url("../blocks/cover/__background/cover__background.css");
@import url("../blocks/cover/__link/cover__link.css");
@import url("../blocks/cover/__img/cover__img.css");
@import url("../blocks/cover/test/test.css");

/* footer */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/footer/__link/footer__link.css");






