.lead__caption {
  color: white;
  font: 400 10px/14px "inter" , 'Arial', 'sans-serif';
  margin: 0px;
  grid-row: 8/9;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    padding-left: 16px;
  }
}
