.cover__title {
  font-size: 48px;
  margin: 0 0 32px;
  font: 900 72px/76px 'inter' , 'Arial', 'sans-serif';
  max-width: 560px;
  text-align: center;
}
  

@media screen and (max-width: 510px) {
  .cover__title {
    font: 900 25px/35px 'inter' , 'Arial', 'sans-serif';
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font: 900 32px/35px 'inter' , 'Arial', 'sans-serif';

  }
}
  

