.paragraph__text {
  color: white;
  font: 400 18px/29.34px "inter";
  margin: 0px;
}

.paragraph__text:last-of-type {
  padding-top: 26px;
}

@media screen and (max-width: 1280px) {
  .paragraph__text {
    color: white;
    font: 400 18px/29.34px "inter";
    margin: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .paragraph__text {
    color: white;
    font: 400 18px/29.34px "inter";
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  .paragraph__text {
    color: white;
    font: 400 16px/26.08px "inter";
    margin: 0px;
  }
  .paragraph__text:last-of-type {
    padding-top: 25px;
  }
}

@media screen and (max-width: 425px) {
  .paragraph__text {
    color: white;
    font: 400 16px/26.08px "inter";
    margin: 0px;
  }

  .paragraph__text:last-of-type {
    padding-top: 25px;
  }
}
