.paragraph__text {
  color: white;
  font: 400 18px/29px "inter" , 'Arial', 'sans-serif';
  margin: 0px;
  padding-top: 0px;
}

@media screen and (max-width: 768px) {
  .paragraph__text {
    font: 400 16px/26px "inter" , 'Arial', 'sans-serif';
  }
}