.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1280px) {
  .place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 48px;
    column-gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    display: grid;
    grid-template-columns: 440px 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 48px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 48px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    column-gap: 0px;
    grid-template-columns: 16px 1fr 16px;
    row-gap: 32px;
  }
}
