.footer {
    display: grid;
    grid-template-columns: repeat(5, min-content) 3fr;
    grid-template-rows: 92px min-content 24px;
    column-gap: 18px;
    width: calc(100% - 96px);
    align-items: center;
    justify-items: end;
}