.footer {
  width: calc(100% - 96px);
  display: flex;
  padding:92px 0px 24px 0px;
  position: relative;
}

  @media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
        padding:88px 0px 24px 0px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .footer {
        padding-top: 64px;
        align-items: start;
        width: 100%;
        flex-direction: column;
    }
  }