.intro__title {
  color: white;
  font: 900 54px/58px "inter" , 'Arial', 'sans-serif';
  margin: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
}


@media screen and (max-width: 425px) {
  .intro__title {
    font: 900 32px/35px "inter" , 'Arial', 'sans-serif';
  }
}
